* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
}

nav {
    background-color: black;
    padding: 10px 0px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 2px 15px;
}

#griot {
    flex: 0.5;
    font-size: x-large;
    display: flex;
}

#navtabs {
    align-items: center;
    display: flex;
}

header {
    color: white;
    background-image: url(theater-image-background.png);
    display: flex;
    justify-content: center;
    background-position: center;
    padding: 300px;
    background-size: cover;
}

h1 {
    font-size: 5vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blank-space {
    padding: 50px;
}

.heading-box {
    display: flex;
    background-color: lightgray;
    border: 1px solid black;
    align-self: stretch;
    justify-content: flex-start;
    margin: 0 100px;
}

.post-box {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

#post-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

#raisins {
    display: flex;
    padding: 15px;
}

button {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    background-color: gold;
    border: 1px solid black;
    height: 70px;
    width: 150px;
    font-size: x-large;
}

#button {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.footer {
    color: white;
    background-color: black;
    display: flex;
    padding: 40px;
}

footer h2 {
    display: flex;
    justify-content: center;
}

#map {
    display: flex;
    padding: 15px;
    
}

.links-1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.links li {
    display: flex;
    list-style: none;
}